.invalid {
    border: 1px solid red;
    background-color: 1px solid #ffdddd;
}

.hidden {
    display: none;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

.btn {
    width: 80px;
    padding: 5px;
}

@font-face {
    font-family: 'MarvelFont';
    src: url('fonts/MarvelRegular-Dj83.ttf') format('ttf'), /* Update with your font file paths */
         
    /* Include additional font formats if available */
}

body {
    font-family: 'MarvelFont', sans-serif;
    /* Apply font to the entire body or specific elements as needed */
}

h1 {
    letter-spacing: 0px;
}
  
.large {
    font-size: 2.5em; /* Adjust font size as needed */
  }
  
.medium {
    font-size: 1em; /* Adjust font size as needed */
}
  
.small {
    font-size: 0.5em; /* Adjust font size as needed */
}

.banner {
    /* Add margin to the bottom of the banner */
    margin-bottom: 20px; /* Adjust the value as needed */
}
  
.body-content {
    /* Alternatively, you can add margin to the top of the body content */
    margin-top: 20px; /* Adjust the value as needed */
}
  
/**************************************************************/

[data-component="slideshow"] .slide {
    display: none;
    text-align: center;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

/* Custom styles */
[data-component="slideshow"] .carousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Reset the width */
}

[data-component="slideshow"] .carousel-item img {
    width: 100%; /* Ensure each item takes the full width of the carousel */
    height: auto; /* Maintain aspect ratio */
  }
  
[data-component="slideshow"] .carousel-inner {
    display: inline-block;
}

.container {
    /* Set the container width or height if needed */
    /* For example: */
    width: 5000px;
    height: auto;
    /* Other styles for the container */
  }

.container img {
    /* Display the image at 25% of its container's width */
    width: 100%;
    /* Maintain aspect ratio */
    height: auto;
    /* Other styles for the image */
  }